  
@import url('https://fonts.googleapis.com/css?family=Spartan : 100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


html,body{
    background-color:#fff;
    position: relative;
}

/*------------------------------TitleBar--------*/
.header{
    margin-bottom: 20px;
}

.title-bar-top{
    background: url("../images/smallHeaderBG.png");
    height: 20px;
    margin-top: 20px;  
    position: relative;
}

.title-bar-logo{
    font-size: 40px;
    color: grey;
    font-family: 'Chewy', cursive;
    position: relative;
}

.title-bar{
    text-align: center;
    height: 50px;
    margin-bottom: 10px; 
    position: relative;
}

.title-bar-bottom{
    background: url("../images/smallHeaderBG.png");
    height: 20px;  
    position: relative;
}

.title-bar-logo, .title-bar-logo:hover{
    text-decoration: none;
}



/*------------------------------NavBar--------*/

.navbar {
    font-size: 14px;
    height: 25px;    
    position: relative;
    margin-bottom: 0;
    background-color: rgba(250, 195, 212, 0.2);
}

.navbar-nav{
    position: relative;
    margin: 0 auto 0 auto;
}

.navbar-brand{
    display: none;
}

.navbar-nav a{              
    margin: 0 60px 0 60px;
    color: darkgrey;
}

.navbar-toggler{
    border-radius: .80rem;
}

.navbar .dropdown{
    display: none;
}




/*------------------------------Main Img--------*/

.main-img{
    position: relative;
    margin-top: 20px;
    border: 1px solid lightgray;
    height: 200px;
    background-image: url("../images/sky.PNG");
}

/*------------------------------Main Menu--------*/

.main-flex-container{
    position: relative;
    margin-top: 20px;
    display: flex;
}

.main-flex-container > div {
    background-color: #b1aeae;
    margin: auto;
    height: 300px;
    width: 250px;
    padding: auto;
    font-size: 30px;
}

.main-flex-container .left-div{
    margin-left: 10%;
}

.main-flex-container .right-div{
    margin-right: 10%;
}

.left-img, .middle-img, .right-img {
    position: relative;
    border: 2px solid green;
    height: 250px;
    width: 250px;
}

.img-desc{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}


/*------------------------------Product Img--------*/
.stud-main-area{
    margin-top: 30px;
}

.stud-flex-container{
    position: relative;
    margin-top: 60px;
    text-align: center;  
}

.flex-display .divider{
    
    position: relative;
    width: 1px;
    height: 185vh;
    background-color: lightgrey; 
}

.stud-flex-container .flex-display{
    margin: 0;
    display: inline-block;
}

.stud-left-div, .stud-middle-div, .stud-right-div{
    margin: 0 20px 40px 20px; 
    position: relative;
    width: 300px;
    height: 300px;
}

.necklace{
    width: 500px !important;
    height: 500px !important;
}

.flex-display{
    vertical-align: top;
}

.flex-display .size{
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 15px;
}

.flex-display img{
    padding: 0;
    margin: 0;
    display: block;
    max-width: 300px;
}

/*------------------------------Footer--------*/

.footer-divider{
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: 5px;
    background-color: rgb(253, 231, 234);
}

.footer-main{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: rgb(228, 228, 228);
}

.footer-details{
    display: flex;
    width: 100%;
}

.footer-info{
    width: 100px;
    height: 100px;
    border: 1px solid sandybrown;
}

.social-icons{
    float: right;
    width: 100px;
    height: 100px;
    border: 1px solid seagreen;
}


/*------------------------------Media Queries--------*/

@media(max-width: 575px){         /*screen smaller than shown size*/
    .navbar{
        height: 60px;
    }

    .navbar-brand{
        display: inline;
    }

    .navbar .dropdown{
    display: inline;
    }

    .flex-display .divider{
        display: none;
    }
    
    

}