  
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


html,body{
    background-color:#fff;
    position: relative;
    font-family: Spartan;
    max-width: 1000px;
    margin: auto;
}

/*------------------------------TitleBar--------*/

.title-bar-top{
    background: url("../images/smallHeaderBG.png");
    height: 20px;
    margin-top: 20px;  
    position: relative;
    display: none;
}

.title-bar-logo{
    
    font-size: 40px;
    color: gray;
    font-family: 'Chewy', cursive;
    position: relative;
}

.title-bar-logo:hover{
    text-decoration: none;
    color: gray;
}

.title-bar-container{
    padding-top: 10px;
}

.title-bar{
    background-color: rgb(252, 106, 203, 0.2);
    margin: 20px 0 10px 0;
    text-align: center;
    height: 80px;
    position: relative;
}

.handmade{
    margin: auto;
    background-color: rgb(107, 248, 225, 0.2);
    height: 30px;
    color: gray;
    font-size: 12px;
    position: relative;
    text-align: center;
}

.handmade p{
    padding-top: 6px;
}

.handmade .left-text{
    float: left;
    margin-left: 20%;
}

.handmade .right-text{
    float: right;
    margin-right: 20%;
}

.title-bar-bottom{
    background: url("../images/smallHeaderBG.png");
    height: 20px;  
    position: relative;
    display: none;
}

.title-bar-logo, .title-bar-logo:hover{
    text-decoration: none;
}



/*------------------------------NavBar--------*/

.navbar {
    font-size: 14px;
    height: 30px;    
    position: relative;
    margin: 10px 0 10px 0;
    border-top: 1px solid rgba(255, 132, 171, 0.8);
    border-bottom: 1px solid rgba(255, 132, 171, 0.8);
}

.navbar-nav{
    position: relative;
    margin: 0 auto 0 auto;
}

.navbar-brand{
    display: none;
}

.navbar-nav a{              
    margin: 0 60px 0 60px;
    color: darkgrey;
}

.navbar-toggler{
    border-radius: .80rem;
}

.navbar .dropdown{
    display: none;
}

.nav-item .dropdown-item{
    font-size: 14px;
}



/*------------------------------Main Img--------*/

.main-img{
    position: relative;
    margin-top: 10px;
}

.main-img img{
    width: 100%;
}
/*------------------------------Main Menu--------*/


.main-flex-container{
    position: relative;
    display: flex;
    margin-top: 20px;
}

.main-flex-container a{
    color: inherit;
    text-decoration: none;
}


.main-flex-container > div {
    margin: auto;   
}

.main-flex-container .left-div{
    margin-left: 10%;
}

.main-flex-container .right-div{
    margin-right: 10%;
}

.main-flex-container .left-img,
.main-flex-container .middle-img,
.main-flex-container .right-img{
    overflow: hidden;
}

.main-flex-container .left-div img{
    width: 130%;
}
.main-flex-container .middle-div img{
    width: 110%;
}
.main-flex-container .right-div img{
    width: 110%;
}


.left-img, .middle-img, .right-img{
    position: relative;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.img-desc{
    padding: 10px 0 20px 0;
    text-align: center;
    font-size: 15px;
}


/*------------------------------Product Img--------*/
.stud-main-area{
    margin-top: 30px;
}

.stud-flex-container{
    position: relative;
    margin-top: 60px;
    text-align: center;  
}

.flex-display .divider,
.flex-display .divider-necklace{
    position: relative;
    width: 1px;
    height: 160vh;
    background-color: lightgrey; 
}

.flex-display .divider-necklace{
    height: 100vh;
    position: relative;
    width: 1px;
    background-color: lightgrey; 
}

.stud-flex-container .flex-display{
    margin: 0;
    display: inline-block;
}

.stud-left-div, .stud-middle-div, .stud-right-div{
    margin: 0 20px 40px 20px; 
    position: relative;
    width: 280px;
    height: 280px;
}


.flex-display{
    vertical-align: top;
}

.flex-display .size{
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 15px;
}

.flex-display img{
    padding: 0;
    margin: 0;
    display: block;
    max-width: 300px;
}

.flex-display .necklace-left,
.flex-display .necklace-right{
    width: 400px;   
    height: 400px; 
    margin: 0 40px 40px 40px; 
    position: relative;  
}

.flex-display .necklace-left img,
.flex-display .necklace-right img{
    max-width: 400px;
}

/*------------------------------Footer--------*/

footer{
    border-top: 3px solid rgba(255, 132, 171, 0.8);
    background-color: rgb(107, 248, 225, 0.2);
    position: relative;
    margin-top: 40px;
}

footer > div{
    margin-top: 20px;
}

footer ul{
    font-size: 12px;
    list-style: none;
    padding-left: 10px;
}

footer .container ul li a{
    text-decoration: none;
    color: inherit;
}

footer .social-icon{
    text-align: center;
    background-color: rgba(255, 132, 171, 0.8);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.social-icon-container ul li{
    display:  inline-block;
}

footer .social-icon img{
    margin: 7px auto 0 auto;
    width: 35px;
    height: 35px;
}

.social-icon li a img :hover{
    transition: all 0.35s ease-in;
}

.follow-me, .contact-me{
    font-size: 12px;
    text-align: center;
}

.follow-me ul{
    margin-top: 15px;
}



/*------------------------------Media Query--------*/

/*active when screen size smaller than size shown*/
@media(max-width: 575px){ 

    .navbar-nav{
        padding-top: 10px;
    }

    .navbar{
        height: 60px;
        background-color: rgba(255, 132, 171, 0.8);
    }

    .navbar-brand{
        display: inline;
    }

    .navbar .dropdown{
        display: inline;
    }

    .main-img{
        overflow: hidden;
    }
    .main-img img{
        width: 200%;
    }

    .flex-display .divider,
    .flex-display .divider-necklace{
        display: none;
    }

    .stud-flex-container{
        margin-top: 220px;
        overflow: hidden;
    }

    .flex-display .necklace-left,
    .flex-display .necklace-right{
        
        margin-right: 0;
        margin-left: 0;
        width: 350px;
        height: 350px;
    }

    .necklace-right .necklace-right-img,
    .necklace-left .necklace-left-img{
        margin-right: 0;
        margin-left: 0;
        width: 350px;
    }

    .flex-display .necklace-left img,
    .flex-display .necklace-right img{
        width: 350px;
    }

    .header .handmade{
        display: none;
    }

    .title-bar{
        padding-top: 0;
    }

    footer .follow-me{
        margin-top: 20px;
    }
    
}

/*------------------------------Media Query--------*/

@media(max-width: 800px){
    
    .main-flex-container{
        margin: 20px 0 0 0;
        display: block;
    }

    .main-flex-container .left-img,
    .main-flex-container .middle-img,
    .main-flex-container .right-img{
        margin: 0 auto 0 auto;
    }

    .main-flex-container .left-div,
    .main-flex-container .middle-div,
    .main-flex-container .right-div{  
        margin: 0 auto 20px auto;
    }

    .handmade .left-text{
        text-align: center;
        margin-left: 20%;
    }

    .handmade .right-text{
        display: none;
    }

    
}