  
@import url('https://fonts.googleapis.com/css?family=Spartan : 100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


html,body{
    background-color:#fff;
    position: relative;
    font-family: cursive;
}

/*------------------------------TitleBar--------*/
.header{

}

.title-bar-top{
    background: url("../images/smallHeaderBG.png");
    height: 20px;
    margin-top: 20px;  
    position: relative;
}

.title-bar-logo{
    
    font-size: 40px;
    color: gray;
    font-family: 'Chewy', cursive;
    position: relative;
}

.title-bar-logo:hover{
    text-decoration: none;
    color: gray;
}

.title-bar-container{
    padding-top: 10px;
}

.title-bar{
    background-color: rgb(252, 106, 203, 0.2);
    margin: 20px 0 20px 0;
    text-align: center;
    height: 80px;
    position: relative;
}

.handmade{
    margin: auto;
    background-color: rgb(107, 248, 225, 0.2);
    height: 25px;
    color: gray;
    font-size: 15px;
    position: relative;
    text-align: center;
}

.title-bar-bottom{
    background: url("../images/smallHeaderBG.png");
    height: 20px;  
    position: relative;
    display: none;
}

.title-bar-logo, .title-bar-logo:hover{
    text-decoration: none;
}



/*------------------------------NavBar--------*/

.navbar {
    font-size: 14px;
    height: 40px;    
    position: relative;
    margin-bottom: 10px;
    /*background-color: rgba(255, 132, 171, 0.8);*/
    border-top: 1px solid rgba(255, 132, 171, 0.8);
    border-bottom: 1px solid rgba(255, 132, 171, 0.8);
}

.navbar-nav{
    position: relative;
    margin: 0 auto 0 auto;
}

.navbar-brand{
    display: none;
}

.navbar-nav a{              
    margin: 0 60px 0 60px;
    color: darkgrey;
}

.navbar-toggler{
    border-radius: .80rem;
}

.navbar .dropdown{
    display: none;
}




/*------------------------------Main Img--------*/

.main-img{
    position: relative;
    margin-top: 20px;
    border: 1px solid lightgray;
    height: 200px;
    background-image: url("../images/sky.PNG");
}

/*------------------------------Main Menu--------*/

.main-flex-container{
    position: relative;
    margin-top: 20px;
    display: flex;
}

.main-flex-container a{
    color: inherit;
    text-decoration: none;
}


.main-flex-container > div {
    margin: auto;
    height: 300px;
    width: 250px;
    padding: auto;
    font-size: 30px;
}

.main-flex-container .left-div{
    margin-left: 10%;
}

.main-flex-container .left-img,
.main-flex-container .middle-img,
.main-flex-container .right-img{
    overflow: hidden;
}

.main-flex-container .left-div img{
    width: 150%;
    margin: auto;
}



.main-flex-container .right-div{
    margin-right: 10%;
}

.left-img, .middle-img, .right-img {
    position: relative;
    border-radius: 50%;
    border: 3px solid rgb(107, 248, 225, 0.6);
    height: 250px;
    width: 250px;
}

.img-desc{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}


/*------------------------------Product Img--------*/
.stud-main-area{
    margin-top: 30px;
}

.stud-flex-container{
    position: relative;
    margin-top: 60px;
    text-align: center;  
}

.flex-display .divider{
    
    position: relative;
    width: 1px;
    height: 185vh;
    background-color: lightgrey; 
}

.stud-flex-container .flex-display{
    margin: 0;
    display: inline-block;
}

.stud-left-div, .stud-middle-div, .stud-right-div{
    margin: 0 20px 40px 20px; 
    position: relative;
    width: 300px;
    height: 300px;
}

.necklace{
    width: 500px !important;
    height: 500px !important;
}

.flex-display{
    vertical-align: top;
}

.flex-display .size{
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 15px;
}

.flex-display img{
    padding: 0;
    margin: 0;
    display: block;
    max-width: 300px;
}

/*------------------------------Footer--------*/

footer{
    border-top: 3px solid rgba(255, 132, 171, 0.8);
    background-color: rgb(107, 248, 225, 0.2);
    position: relative;
    margin-top: 80px;
}

footer > div{
    margin-top: 20px;
}

footer ul{
    list-style: none;
    padding-left: 10px;
}

footer .social-icon{
    text-align: center;
    background-color: rgb(107, 248, 225, 0.6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.social-icon-container ul li{
    display:  inline-block;
}

footer .social-icon img{
    margin: 7px auto 0 auto;
    width: 35px;
    height: 35px;
}

.social-icon li a img :hover{
    transition: all 0.35s ease-in;
}



/*------------------------------Media Queries--------*/

/*screen size smaller than shown*/
@media(max-width: 575px){         
    .navbar{
        height: 60px;
        background-color: rgba(255, 132, 171, 0.8);
    }

    .navbar-brand{
        display: inline;
    }

    .navbar .dropdown{
    display: inline;
    }

    .flex-display .divider{
        display: none;
    }

    .stud-flex-container{
    margin-top: 220px;
    }

    .header .handmade{
    display: none;
    }

    .title-bar{
        padding-top: 0;
    }
    
}

@media(max-width: 1000px){
    
    .main-flex-container{
 
    margin: 20px 0 0 0;
    display: block;
    }

    .main-flex-container .left-div,
    .main-flex-container .middle-div,
    .main-flex-container .right-div{  
        margin: 0 auto 20px auto;
    }

    
}